.dnd{
  display: flex;
  flex-grow: 1;
  gap: 20px;
  overflow: auto;
  &-board{
    width: 300px;
    min-width: 300px;
    background-color: $primary-100;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    &-head{
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;
      height: 50px;
      background-color: $primary-200;
    }
    &-body{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      box-sizing: border-box;
      padding: 8px;
    }
  }
  &-card{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    background-color: $primary-200;
  }
}