.alert{
  position: fixed;
  right: 0 ;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  padding: .8rem 1.8rem;
  font-size: 1.8rem;
  color: $white;
  display: inline-flex;
  align-items: center;
  gap: 1.4rem;
  background-color: $c-alert;
  &__close{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    min-width: 2.4rem;
    font-size: 2.4rem;
    cursor: pointer;
  }
}