@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-add-project:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-delete:before {
  content: "\e905";
}
.icon-email:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e907";
}
.icon-hide:before {
  content: "\e908";
}
.icon-info:before {
  content: "\e909";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-login-outlined:before {
  content: "\e90b";
}
.icon-logout-outlined:before {
  content: "\e90c";
}
.icon-moon:before {
  content: "\e90d";
}
.icon-more:before {
  content: "\e90e";
}
.icon-next:before {
  content: "\e90f";
}
.icon-next-arrow:before {
  content: "\e910";
}
.icon-options:before {
  content: "\e911";
}
.icon-pen:before {
  content: "\e912";
}
.icon-prev:before {
  content: "\e913";
}
.icon-prev-arrow:before {
  content: "\e914";
}
.icon-project:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-show:before {
  content: "\e917";
}
.icon-sun:before {
  content: "\e918";
}
.icon-unlock:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-user-outlined:before {
  content: "\e91b";
}
.icon-info-round:before {
  content: "\e955";
}