//color
$primary-900: #21004C;
$primary-800: #34066E;
$primary-700: #481090;
$primary-600: #5F1EB2;
$primary-500: #7830D4;
$primary-400: #9346F6;
$primary-300: #AF71FF;
$primary-200: #C69AFF;
$primary-100: #DDC3FF;
$primary-50: #F4ECFF;

$txt-black: $primary-900;
$white: #FFFFFF;
$light: #FBFCFE;
$light-bg: #FEFEFE;

$c-alert: #F47168;
$c-success: #6EFF74;

//fonts
$font-primary: Montserrat, sans-serif;
$f-bold: 600;
$f-normal: 400;


//fonts-size
$min-size: 14px;
$headline-1: 4rem;
$headline-2: 2.8rem;
$headline-3: calc(max(14px, 2.4rem));
$headline-4: calc(max(14px, 2.2rem));
$headline-5: calc(max(14px, 2rem));
$headline-6: calc(max(14px, 18rem));
$body-1: calc(max(14px, 1.6rem));
$body-2: calc(max(14px, 1.5rem));
$body-3: calc(max(14px, 1.4rem));
